<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zzu.mxd.subway.mapper.SiteComfortMapper">

    <!--查询根据name查询数据且id最大-->
    <select id="selectLastByName" resultType="zzu.mxd.subway.entity.SiteComfort" parameterType="java.lang.String">
      select *
      from subway_siteComfort
      where name = #{name}
      order by id desc
      limit 1
    </select>
</mapper>
